import { $A, AuraAction, AuraComponent, AuraDescription, AuraResponse, CC_CommonFunctions, ICommomFunctions, window } from './CC_AuraTypes';

// Declare local types. Very good practice to avoid type error
/*
interface Example{
    Id: string;
    Name: string;
}
*/

window.TESTTEMPLATE = function(cmp: AuraComponent) {
    // LOCAL FUNCTIONS AND ATTRIBUTES HERE
    let commomFunctions: ICommomFunctions = CC_CommonFunctions(cmp);

    // API PUBLIC METHODS HERE
    return{
        /*
        sampleMethod: function(){
            commomFunctions.executeActionPromise('c.auramethod', {params: Object})
                .then($A.getCallback(function(result: AuraResponse){
                    //Declare a typed variable for the return Value
                    let r: Example = result.getReturnValue();
                }))
                .catch($A.getCallback(function(error: Error){
                    $A.reportError("error message here", error);
                })
            );
        }
        */
    };
};